
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}








/* Responsive Media queries  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .container {
    max-width: 100%;
    }
}

  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
}

  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }
}

  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
    max-width: 960px;
    }
}

  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}  

:root {
    --main-clr:rgb(255, 255, 255);
}

/* Start Global Classes */
.container {
    margin-inline: auto;
    padding: 20px 40px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* End Global Classes */

/* Start Header */

.main-header {

    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    /* width: 100%; */
font-family: poppins,sans-serif;
}

 
.main-header .container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .container .info .col-one {

}
.main-header .container .info .col-one ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.main-header .container .info .col-one ul li{
    display: flex;
    gap: 10px;

}
.main-header .container .info .col-one ul li :is(i, a,p)  {
color: #fff;
opacity: .60;
font-size: 14px;
transition: 0.3s ;
}

.main-header .container .info .col-one ul li:hover :is(a,p) {
    opacity: 1;
}









.main-header .container .info .col-two {
    display: flex;
    align-items: center;
    gap: 10px;
}
 .consult {
    background-color:rgb(98 98 98 / 21%);
    color: white;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
}
.main-header .container .info .col-two .social-icons{

}


.main-header .container .info .col-two .social-icons ul{
    display: flex;
    gap: 8px;
}
.main-header .container .info .col-two .social-icons ul li {

}

.main-header .container .info .col-two .social-icons ul a {

}
.main-header .container .info .col-two .social-icons ul i {
    font-size: 17px;
    color: #000000;
    transition:  0.3s;
}

.fa-facebook-f:hover {
    color: #4267B2;
}
a .fa-youtube:hover {
    color: #FF0000;
}

a .fa-instagram:hover {
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976,  #962fbf, #4f5bd5 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}

a .fa-linkedin-in:hover {
    color: #0A66C2;
}

a .fa-tiktok:hover  {
    background: linear-gradient(to right, #00f2ea, #ff0050, #000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}

.main-menu-wrapper {
}

.main-menu-wrapper .container  {
    padding-block: 0;
}

.main-header  .main-menu__items {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    padding: 20px;
}

.main-header  .main-menu__items .logo {
    width:100px;
    overflow: hidden;
}
.logo img {
    max-width: 100%;
    min-width: 60px;
}

.main-header  .main-menu__items nav ul {
    display: flex;
    gap: 25px;
}
.main-header  .main-menu__items nav li:hover a {
    color: rgb(255, 255, 255);
}
.main-header  .main-menu__items nav li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ;
}

.main-header  .main-menu__items nav li:hover a{
    color:#18ba60;
}

/* start bars */
.menu-toggle {
    display: none;
}
.bars {
width: 25px;
height: 25px;
border-radius: 8px;
position: relative;
}

.bars span {
    display: block;
    width: 80%;
    height: 10%;
    background-color: white;
    position: absolute;
    left: 10%;
    border-radius: 50px;
    transition: 0.5s ease-in;
    transform-origin: center;
}

.top {
    top: 20%;
}

.middle {
    top: 45%;
}

.bottom {
    top: 70%;
}

.bars:hover  .top {
    top: 45%;
    rotate: 45deg;

}

.bars:hover .middle {
    opacity: 0;
}

.bars:hover  .bottom {
    top: 45%;
    rotate: -45deg;

}


/* mob menu  */
.mob-main-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    z-index: 1;
    transition:  0.5s;
    opacity: 0;
    visibility: hidden;
}

.mob-main-menu .mob-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: -1;
}

.mob-main-menu .menu-items {
    height: 100vh;
    width: 290px;
    padding: 20px;
    background-color: white;
    position: relative;
    transition: left 0.5s ease-in-out;
}

.mob-main-menu .logo {
    text-align: center;
    padding-bottom: 30px;
}

.mob-main-menu nav ul {
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
}


.mob-main-menu nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.mob-main-menu .fa-angle-up {
    display: none;
}

.mob-main-menu nav li a {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #222;
    transition: all 0.3s ;
}
.mob-main-menu nav li i {
    color: #222;
    transition: all 0.3s;
}

.mob-main-menu nav li a:hover {
    color: #007bff;
}

.mob-main-menu .transparent-layer {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    height: 100vh;
    z-index: -1;
}

.mob-main-menu .sub-menu{
    position: absolute;
    top: 50px;
    width: calc(100% - 20px);
    margin-left: 20px;
    visibility: hidden;
    opacity: 1;
    transition: all 0.3s;
}

.mob-main-menu .sub-menu a{
    font-size: .9rem;
}

.mob-main-menu .social-icons {
    margin: 30px 0 60px 0;
}

.mob-main-menu .social-icons ul {
    display: flex;
    justify-content: space-between;
}

.mob-main-menu .social-icons ul li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top: 9px;
    border: 1px solid rgb(238, 238, 238);
}

.mob-main-menu .social-icons ul li i {
    color: #007bff;
}

.mob-menu-footer ul li {
    display: flex;
    gap: 18px;
    margin-bottom: 20px;
}

.mob-menu-footer ul li a {
    font-size: 15px;
    color: #505056;
}

.mob-menu-footer ul li i {
    color: #007bff;
    font-size: 15px;
}


/* End Header */

/* start landing */
.landing-section {
    background: url(../images/last-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 30px;
    height: fit-content;
    font-family: poppins;
}

.landing-section .container {
    padding-block: 0;
}

.landing-section .landing__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-section .landing__content h1 {
font-size: 50px;
color: #fff;
font-weight: 700;
}
.landing-section .landing__content p {
font-size: 18px;
color: white;
margin-block: 30px;
}

.landing-section .consult {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #fff;
    width: fit-content;
    transition: background-color 0.4s, color 0.7s;
}

.landing-section .consult a {
    font-size: 20px;
    color: #eee;

}

.landing-section .consult .left-slide {
    position: absolute;
    background-color: white;
    rotate: -45deg;
    width: 0;
    height: 220%;
    left: -14px;
    top: -15px;
    transition: 0.4s;

    z-index: -1;
}
.landing-section .consult .right-slide {
    display: block;
    position: absolute;
    background-color: white;
    rotate: 135deg;
    width: 0;
    height: 220%;
    right: -18px;
    top: -62px;
    transition: 0.4s;
    z-index: -1;

}

.landing-section .consult:hover a {
    color: #333;
}
.landing-section .consult:hover .left-slide {
    width: 66%;
    color: #333;
}
.landing-section .consult:hover .right-slide {
    width:56%;

}
/* End landing */


/* modifying Media queries styling */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 574.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .landing-section .container {
        overflow: hidden !important;
    }
    .landing-section .landing__content h1 {
        font-size: 30px !important;
    }
    .landing-section .landing__content p {
        font-size: 14px !important;
    }

}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .landing-section .landing__content h1 {
        font-size: 40px;
    }
    .landing-section .landing__content p {
        font-size: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .main-header .container .info{
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .main-header  .main-menu__items nav {
        display: none;
        /* position: absolute;
    top: 0;
    background-color: #333;
    width: 80%;
    padding: 30px;
    left: -40px;
    height: 100vh;
    z-index: 1000; */
    }

    .main-header .main-menu__items nav ul {
        flex-direction: column;
    }

    .main-header .intro-nav {
        display: none;
    }

    .main-header .main-menu__items {
        padding: 10px;
    }

    .logo img {
        width: 70px;
    }

}


/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
