
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}








/* Responsive Media queries  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .container {
    max-width: 100%;
    }
}

  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
}

  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }
}

  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
    max-width: 960px;
    }
}

  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}  

:root {
    --main-clr:rgb(255, 255, 255);
}

/* Start Global Classes */
section {
    margin-bottom: 40px;
}
.container {
    margin-inline: auto;
    padding: 20px 40px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* End Global Classes */

/* Start Header */
.main-header {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    font-family: "poppins",sans-serif;
}

.main-header .container  {
    padding-block:10px;
}

.main-header .container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .container .info .col-one ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.main-header .container .info .col-one ul li{
    display: flex;
    gap: 10px;
}

.main-header .container .info .col-one ul li :is(i, a,p)  {
    color: #fff;
    opacity: .59;
    font-size: 14px;
    transition: 0.3s ;
}

.main-header .container .info .col-one ul li:hover :is(a,p) {
    opacity: 1;
}

.main-header .container .info .col-two {
    display: flex;
    align-items: center;
    gap: 10px;
}

.consult {
    background-color:rgb(98 98 98 / 21%);
    color: white;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 8px;
}

.main-header .container .info .col-two .social-icons ul{
    display: flex;
    gap: 8px;
}

.main-header .container .info .col-two .social-icons ul i {
    font-size: 17px;
    color: rgba(238, 238, 238, 0.63);
    transition:  0.3s;
    border: 1px solid;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 8px;
}

.fa-facebook-f:hover {
    color: #4267B2;
}
a:hover .fa-youtube {
    color: #FF0000 !important;
}

.main-header .container .info .col-two .social-icons ul i:hover {
    background-color: #eee;
}

.main-header a .fa-instagram:hover {
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976,  #962fbf, #4f5bd5 );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}

a .fa-linkedin-in:hover {
    color: #0A66C2;
}

.main-header a .fa-tiktok:hover  {
    background: linear-gradient(to right, #00f2ea, #ff0050, #000000);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}

.main-menu-wrapper .container  {
    padding-block: 0;
}

.main-header  .main-menu__items {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}

.main-header  .main-menu__items .logo {
    width:100px;
    overflow: hidden;
}
.logo img {
    max-width: 100%;
    min-width: 60px;
}

.main-header  .main-menu__items nav ul {
    display: flex;
    gap: 25px;
}
.main-header  .main-menu__items nav li:hover a {
    color: rgb(255, 255, 255);
}
.main-header  .main-menu__items nav li a {
    font-size: 15px;
    text-transform: capitalize;
    color: rgba(226, 226, 226, 0.904);
    font-weight: 600;
    transition: color 0.3s ;
}

.main-header  .main-menu__items nav li:hover a{
    color:white;
}

/* start bars */
.menu-toggle {
    display: none;
}

.bars {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    position: relative;
}

.bars span {
    display: block;
    width: 80%;
    height: 10%;
    background-color: white;
    position: absolute;
    left: 10%;
    border-radius: 50px;
    transition: 0.5s ease-in;
    transform-origin: center;
}

.top {
    top: 20%;
}

.middle {
    top: 45%;
}

.bottom {
    top: 70%;
}

.bars:hover  .top {
    top: 45%;
    rotate: 45deg;
}

.bars:hover .middle {
    opacity: 0;
}

.bars:hover  .bottom {
    top: 45%;
    rotate: -45deg;
}

/* mob menu  */
.mob-main-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    z-index: 1;
    transition:  0.5s;
    opacity: 0;
    visibility: hidden;
    font-family: poppins;
}

.mob-main-menu .mob-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: -1;
}

.mob-main-menu .menu-items {
    height: 100vh;
    width: 240px;
    padding: 20px;
    background-color: rgb(19, 19, 19);
    position: relative;
    transition: left 0.5s ease-in-out;
}

.mob-main-menu .logo {
    display:flex;
    justify-content: center;
    padding-bottom: 30px;
}

.mob-main-menu nav li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.mob-main-menu nav li a {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgba(238, 238, 238, 0.575);
    transition: all 0.3s ;
}

.mob-main-menu nav li i {
    color: #222;
    transition: all 0.3s;
}

.mob-main-menu nav li a:hover {
    color: #eee;
}

.mob-main-menu .transparent-layer {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    height: 100vh;
    z-index: -1;
}

.mob-main-menu .sub-menu a{
    font-size: .9rem;
}

.mob-main-menu .social-icons {
    margin: 30px 0 60px 0;
}

.mob-main-menu .social-icons ul {
    display: flex;
    justify-content: space-between;
}

.mob-main-menu .social-icons ul li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top: 9px;
    border: 1px solid rgb(238, 238, 238);
    transition: 0.4s;
}

.mob-main-menu .social-icons ul li i {
    color: #333;
    transition: 0.7s;
}

.mob-main-menu .social-icons ul li:hover i {
    color: #eee;
}

.mob-main-menu .social-icons ul li:hover  {
    background-color: #333;
    border-color: #333;

}

.mob-menu-footer ul li {
    display: flex;
    gap: 18px;
    margin-bottom: 20px;
}

.mob-menu-footer ul li a {
    font-size: 15px;
    color: #505056;
}

.mob-menu-footer ul li i {
    color: #eee;
    font-size: 16px;
}
/* End Header */

/* Start landing */
.landing-section {
    background: url(../images/last-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 30px;
    height: 100vh;
    font-family: poppins;
}

.landing-section .container {
    padding-block: 0;
}

.landing-section .landing__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-section .landing__content h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}
.landing-section .landing__content p {
    font-size: 15px;
    color: white;
    margin-block: 30px;
    letter-spacing: 0.7px;
    line-height: 1.75rem;
}

.consult {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #fff;
    width: fit-content;
    transition: background-color 0.4s, color 0.7s;
}

.consult a {
    font-size: 20px;
    color: #eee;
}

 .consult :is(.left-slide, .right-slide)  {
    position: absolute;
    background-color: white;
    width: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.consult .left-slide {
    rotate: -45deg;
    height: 278%;
    left: -14px;
    top: -31px;
}

.consult .right-slide {
    rotate: 135deg;
    height: 220%;
    right: -18px;
    top: -62px;
}

.consult:hover a {
    color: #333;
}

.consult:hover .left-slide {
    width: 66%;
    color: #333;
}

.consult:hover .right-slide {
    width:56%;
}
/* End landing */



/* Start section one */

.section-one {
    font-family: poppins, sans-serif;
    overflow: hidden;
}

.head-content {
    width: fit-content;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 40px;
}
.head-content h1 {
    color: #262e2e;
    position: relative;
}

/* .head-content h1:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 42px;
    background-color: #262e2e;
    left: -11px;
    border-radius: 8px;
} */

.head-content p {
    margin-top: -20px;
    color: #262e2e8e;

}

.section-one__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 83px;
}

.section-one .col img {
    max-width: 450px;
    min-width: 250px;
    text-align: start;
}
.section-one .col div {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.section-one .col i {
    font-size: 25px;
    color: #009092;
}

.section-one .col p {
    max-width: 72%;
    line-height: 1.75rem;
}

.section-one .col h3 {
    font-size: 20px;
}

.col-2 img {
    margin-left: auto;
}



.section-one__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.sections.consult {
    margin-top: 50px;
    background-color: black;
}

.sections.consult:hover  {
    background-color: white;
    border: 1px solid black;
}

.sections.consult:hover  a {
    color: black;
}

.sections.consult:hover :is(.right-slide, .left-slide) {
    background-color: white;    
}

/* End section one */

/*Start section two */
.section-two {
font-family: "poppins", sans-serif;
background: #eee;
}

.section-two .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: 40px 20px;
    overflow: hidden;
    gap: 30px;
}
.card i {
    font-size: 50px;
    color: #18ba60;
}
.card  h1 {
    font-size: 18px;
    margin: 0 0 20px 0;
    color: #242424;
    letter-spacing: .32px;
    text-transform: uppercase;

}
.card  p {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: .32px;
    color: #898989;
    font-weight: 400;
    margin-bottom: 25px;
}

.card,
.card :is(p,h1,i){
    transition: 0.4s;
}

.card:hover :is(h1, p, i)  {
    color: white;
}

.card:hover {
    background-color: #262e2e;
}

/*End section two */

/* Start section Three */
.section-three {
    font-family: "poppins", sans-serif;
    background-color: #eee;
}

.clinets-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

.clinets-wrapper img {
    width: 90px;
    border-radius: 10px;
}
/* End section Three */

/* Start section four */
.section-four {
    font-family: "poppins", sans-serif;

}

.section-four .blogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.section-four .blog {
cursor: pointer;
}

.section-four .blog h4  {
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #242424;
    line-height: 22px;
    letter-spacing: .34px;
}

.img-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

.img-wrapper img {
    max-width: 100%;
}

.img-wrapper::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    background-color: #18b960a4;
    transition: width 0.4s;
}

.img-wrapper .read-more {
    display: block;
    position: absolute;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition:  0.4s;
    font-weight: 600;
}

.blog:hover .img-wrapper::before {
    width: 100%;
}
.blog:hover .img-wrapper .read-more {
    opacity:1;
}

.blog-content-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000048;
}

.blog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-height: fit-content;
    min-height: 500px;
    background: white;
    border-radius: 8px;
    font-family: poppins, sans-serif;
}

.blog-content > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    overflow: hidden;
}

.blog-content hr {
    margin-bottom: 20px;
}
.blog-content i {
    cursor: pointer;
}

.blog-content h1 {
    font-size: 20px;
    font-weight: 500;
}
/* End section four */

























/* modifying Media queries styling */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 574.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .landing-section .container {
        overflow: hidden !important;
    }
    .landing-section .landing__content h1 {
        font-size: 30px !important;
    }
    .landing-section .landing__content p {
        font-size: 14px !important;
    }

    .section-one .col img {
        max-width: 100%;
        min-width: 100%;
    }

    .head-content h1 {
        font-size: 24px;
        white-space: nowrap;
    }

    .section-one .col p {
        max-width: 100%;
        font-size: 13px;
    }

    .head-content p {
        margin-top: -12px;
        font-size: 13px;

     }


}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .landing-section .landing__content h1 {
        font-size: 40px;
    }
    .landing-section .landing__content p {
        font-size: 16px;
    }

    .section-one .col-2 img {
        margin-left: 0;
    }

    .consult {
        padding: 10px 20px;
    }

    .consult a {
        font-size: 15px;
    }

    .consult:hover .right-slide {
        top: -45px;
    }

    .consult:hover .left-slide {
        left: 1px;
    }

    .section-four .blogs {
        justify-content: center;
    }

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .main-header .container .info{
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .main-header  .main-menu__items nav {
        display: none;
        /* position: absolute;
    top: 0;
    background-color: #333;
    width: 80%;
    padding: 30px;
    left: -40px;
    height: 100vh;
    z-index: 1000; */
    }

    .main-header .main-menu__items nav ul {
        flex-direction: column;
    }

    .main-header .intro-nav {
        display: none;
    }

    .main-header .main-menu__items {
        padding: 10px;
    }

    .logo img {
        width: 70px;
    }

    .section-four .blogs {
        justify-content: center;
    }


}


/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
